<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mav_name" value="euroc_hex" />
  <!-- <arg name="loc" default="slam" /> --> <!-- okvis, rovio, slam, vicon -->
  <arg name="world_name" default="tum_lab" />

  <!-- load world model -->
  <include file="$(find te_simulator_resources)/launch/world.launch">
    <!-- tum_kitchen, powerplant, artificial -->
    <arg name="world" value="$(find te_simulator_resources)/worlds/$(arg world_name).world" />
    <arg name="mav_name" value="$(arg mav_name)" />
  </include>

  <!-- start gazebo simulator and custom joystick -->
  <group ns="$(arg mav_name)">
    <!-- For controlling the simulator with a joystick -->
    <node name="joy" pkg="joy" type="joy_node" output="screen" />
    <node name="te_joy_inspection_controller" pkg="te_joy_inspection_controller" type="controller_node">
      <remap from="command/pose" to="command/pose" />
      <remap from="estimated_transform" to="msf_core/pose" />   
      <remap from="plane" to="te_surface_detection/plane" />   
      <param name="speedUp" value="1.5" />
      <param name="speedRight" value="1.6" />
      <param name="speedForward" value="1.6" />
      <param name="speedYaw" value="1.05" />
    </node>
    
      <!-- start plane detection -->
    <node name="te_surface_detection" pkg="te_surface_detection" type="te_surface_detection">
      <param name="mavTFName" value="euroc_hex/ground_truth" />
    </node>

    <node name="mav_linear_mpc" pkg="mav_linear_mpc" type="mav_linear_mpc_node_controller_only" respawn="true"
          clear_params="true" output="screen">
      <remap from="odometry" to="msf_core/odometry"/>
      <param name="control_interface/verbose" value="true"/>
      <rosparam file="$(find euroc_launch)/parameters/common/linear_mpc_neo.yaml"/>
      <param name="controller/mass" value="2.9" />
      <param name="capability_group" value="Core"/>
    </node>
    <node name="PD_attitude_controller" pkg="mav_linear_mpc" type="PD_attitude_controller_node" respawn="true"
          clear_params="true" output="screen">
      <remap from="odometry" to="msf_core/odometry"/>
      <rosparam file="$(find mav_linear_mpc)/parameters/PD_attitude.yaml"/>
      <param name="capability_group" value="Core"/>
    </node>

    <include file="$(find te_navigation)/launch/algorithms/slam.launch">
      <arg name="mav_name" value="$(arg mav_name)"/>
    </include>
    <include file="$(find te_navigation)/launch/algorithms/vicon.launch">
      <arg name="mav_name" value="$(arg mav_name)"/>
    </include>
    <node pkg="rosservice" type="rosservice" name="initialize"
          args="call --wait /gazebo/unpause_physics">
    </node>
  </group>
  
  <!-- show recorded images -->
  <node name="image_view" pkg="image_view" type="image_view" args="image:=/$(arg mav_name)/vi_sensor/left/image_raw compressed" />
</launch>
