<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="mav_name" default="euroc2"/>
 
  <node name="joy_node" pkg="joy" type="joy_node">
  </node>

  <node name="te_joy_inspection_controller" pkg="te_joy_inspection_controller" type="controller_node">
    <remap from="command/pose" to="$(arg mav_name)/command/pose" />
    <remap from="estimated_transform" to="$(arg mav_name)/msf_core/pose" />
    <remap from="plane" to="te_surface_detection/plane" /> 
    <param name="speedUp" value="0.6" />
    <param name="speedRight" value="0.6" />
    <param name="speedForward" value="0.6" />
    <param name="speedYaw" value="0.2" />
  </node>

</launch>
